html {
	--bg-col: #121212;
	--fg-col: #e3e3e3;
}
body {
	text-align: center;
	background-color: var(--bg-col);
	color: var(--fg-col);
	font-family: system-ui, sans-serif;
}
a {
	color: gold;
}
a:hover {
	color: goldenrod
}
main {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}
section {
	display: block;
	text-align: left;
}
video, img {
	border: 1.5px var(--fg-col) dashed;
	margin: 0 1.2rem 1.2rem 1.2rem;
	max-width: 90vw;
	max-height: 82vh;
}
button {
	background-color: var(--fg-col);
	font-family: system-ui, sans-serif;
	border: none;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	transition: 400ms;
}
button:enabled:hover {
	filter: brightness(60%);
	cursor: pointer;
}
button:disabled:hover {
	cursor: not-allowed;
}
main p {
	font-family: monospace;
	font-size: 1.2rem;
}
main p > span {
	font-weight: bold;
	font-size: 2rem;
}
#div-status-indicators {
	text-align: left;
}
.status-indicator-title {
	text-transform: uppercase;
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.status-code-0 {
	color: red;
}
.status-code-1 {
	color: cornflowerblue;
}
.status-code-2 {
	color: green;
}
