html {
	--bg-col: #121212;
	--fg-col: #e3e3e3;
}
body {
	text-align: center;
	background-color: var(--bg-col);
	color: var(--fg-col);
	font-family: system-ui, sans-serif;
}
button {
	background-color: var(--fg-col);
	font-family: system-ui, sans-serif;
	border: none;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	transition: 400ms;
}
button:enabled:hover {
	filter: brightness(60%);
	cursor: pointer;
}
button:disabled:hover {
	cursor: not-allowed;
}
.status-code-0 {
	color: cornflowerblue;
}
.status-code-1 {
	color: green;
}
.status-code-2 {
	color: red;
}