<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Camera - CleanSweeper</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" media="screen" href="static/main.css">

	<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
	<!-- <script src="static/js/camera.js" type="module" defer></script> -->
	<script src="../static/js/camera.js" defer></script>
</head>
<body>
	<h1>CleanSweeper Camera</h1>
	<video id="video-display" autoplay style="display:none;"></video>
	<canvas id="canvas-el"></canvas>
	<button id="btn-stream">Start streaming</button>
</body>
</html>